
<nav class="navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">{{#link-to 'index'}}Restaurant Review Website{{/link-to}}</div>
    </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to 'index'}}Home/Review{{/link-to}}</li>
      <li>{{#link-to 'addrestaurant'}}Add New Restaurant{{/link-to}}</li>
    </ul>
  </div>
</nav>
<br>
<br>

{{outlet}}
